////
/// @group Blank-Theme
////

$font__rem-base: 16px;

/*---------------------------
		Rem Calc
---------------------------*/

/// STRIP UNIT
/// It strips the unit of measure and returns it
/// @param {Number} $num - Number Value
/// @return {Number} - Value without unit
///
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// CONVERT TO REM
@function convert-to-rem($value, $base-value: $font__rem-base) {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;

	@if $value == 0rem {
		$value: 0;
	}

	// Turn 0rem into 0
	@return $value;
}

/// Convert px to rem
/// @param {Number} $values - Number Value
/// @param {Number} $base-value [$font__rem-base] - Base Value
///
/// @example scss - rem-calc basic usage
/// font-size: rem-calc( 16 );
///
/// @return {Number} - A calculated rem value
///
@function rem-calc($values, $base-value: $font__rem-base) {
	$max: length($values);

	@if $max == 1 {
		@return convert-to-rem(nth($values, 1), $base-value);
	}

	$remValues: ();

	@for $i from 1 through $max {
		$remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
	}

	@return $remValues;
}
