/*---------------------------
		Typorgraphy
---------------------------*/

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//rem base
$font__rem-base: 16px;
$font__base-font-size: 16px;
$font__base-line-height: 30px;

// Heading sizes
$font__size-h1: 26px;
$font__size-h2: 22px;
$font__size-h3: 18px;
$font__size-h4: 16px;
$font__size-h5: 12px;
$font__size-h6: 10px;

/*---------------------------
		Colors
---------------------------*/

$color__primary: #444;
$color__secondary: blue;
$color__theme: red;

$color__background-body: #fafaf4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__primary;
$color__link-hover: $color__theme;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-line: #ccc;

$color__border-light: #ddd;
$color__border-button: #ccc #ccc #bbb;

/*---------------------------
	 Foundation Grid
---------------------------*/

$include-html-classes: true;

$include-html-grid-classes: true;
$include-xl-html-grid-classes: false;

// We use these to control text direction settings
$text-direction: ltr;
$default-float: left;
$opposite-direction: right;

$row-width: rem-calc(1300);
$total-columns: 12;

$last-child-float: $opposite-direction;

$column-gutter: rem-calc(25);

/*---------------------------
	Foundation Media Query
---------------------------*/

$medium-start-point: 641px;
$large-start-point: 1025px;

$small-end-point: 640px;
$medium-end-point: 1024px;
$large-end-point: 1920px;

// Here we define the lower and upper bounds for each media size
$small-range: 0, $small-end-point;
$medium-range: $medium-start-point, $medium-end-point;
$large-range: $large-start-point, $large-end-point;

// Media Queries
$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

/*---------------------------
		Site Layout
---------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;
$gutter: rem-calc(30);
