.widget {
	margin: 0 0 $column-gutter;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-sidebar {
	background: $white;
	padding: rem-calc(20);
	clear: both;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	font-size: rem-calc(22);
	line-height: rem-calc(30);
}
