.blank-theme-slider {
	position: relative;
}

.blank-theme-slide {
	text-align: center;
	position: relative;
}

.blank-theme-slide-content {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}

.blank-theme-cycle-pager {
	position: absolute;
	bottom: 0;
}
