.widget {
	margin: 0 0 map-get($grid-column-gutter, small);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-sidebar {
	background: $white;
	clear: both;
	padding: map-get($grid-column-gutter, small) / 2;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	font-size: 22px;
	line-height: 30px;
}
