{
  "rules": {
    "block-no-empty": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-no-important": true,
    "font-weight-notation": "numeric",
    "max-empty-lines": 1,
    "selector-max-specificity": "0,3,1",
    "selector-pseudo-element-colon-notation": "double"
  }
}
