// Elements.

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;

	/* [5] */
	-webkit-text-size-adjust: 100%;

	/* [5] */
	color: $color__body-text;

	/* [additional] */

	@if $font-smoothing == true {
		@include font-smoothing();
	}
}

/* stylelint-disable */
*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
/* stylelint-enable */

/**
 * 1. Fallback for when there is no custom background color defined. [WordPress]
 * 2. Remove default margin. [normalize.css]
 * 3. Set the base elements `font-size` to the value of your choosing.
 * 4. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your projects
 *    base font size.
 */
body {
	background: $color__background-body;
	margin: 0;
	@include font-family();
	@include body-text( p );

	// WP Editor
	&.mce-content-body {
		font-family: inherit;
		margin: 15px;
	}
}

blockquote, q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

img {
	height: auto;

	/* Make sure images are scaled correctly. */
	max-width: 100%;
	vertical-align: middle;

	/* Adhere to container width. */
}

figure {
	max-width: 100%;
}

/* Default Links */
a {
	// Self, Active & Visited
	& {
		color: $color__link;
		text-decoration: none;
	}

	transition: 0.3s;

	// Hover
	&:hover {
		color: $color__link-hover;
	}
}

/*---------------------------
		Lists & Tables
---------------------------*/

ul,
ol {
	margin: 0 0 18px 0;

	&.no-bullet {
		&,
		ul,
		ol {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 18px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 24px 24px;
}

/*---------------------------
		Buttons
---------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
	border-radius: $border-radius;
	border: 1px solid $color__border-button;
	color: $color__body-text;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 12px;
	white-space: nowrap;
	vertical-align: middle;

	&:hover {
		background: $color__background-button-hover;
		background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		background: $color__background-button-hover;
		background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
		border-color: $color__border-button-hover;
	}
}

/*---------------------------
		Fields
---------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: $border-radius;
	line-height: $font__line-height-body;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

select {
	color: $color__select-text;
	font-size: $font__base-font-size;
	line-height: $font__line-height-body;
}

/**
 * 1. Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	background: $color__background-textarea;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
	line-height: $font__line-height-body;
	max-width: 100%;
	outline: none;
	overflow: auto; /* 1 */
}

p {
	&:empty {
		display: none;
	}
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1 {
	@include body-text( h1 )
}

h2 {
	@include body-text( h2 )
}

h3 {
	@include body-text( h3 )
}

h4 {
	@include body-text( h4 )
}

h5 {
	@include body-text( h5 )
}

h6 {
	@include body-text( h6 )
}

// Lists
dd {
	margin-left: $font__base-line-height;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.table-responsive {
	min-height: 0.01%;
	overflow-x: auto;

	@include breakpoint( medium down ) {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid $color__border-light;

		& > table {
			margin-bottom: 0;
		}

		& > table {
			& > thead,
			& > tbody,
			& > tfoot {
				& > tr {
					& > th,
					& > td {
						white-space: nowrap;
					}
				}
			}
		}
	}
}

th,
td {
	border-bottom: 1px solid $color__table-border;
	padding: $font__base-line-height / 2;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

pre {
	background: $color__background-pre;
	border: 1px solid $color__border-light;
	max-width: 100%;
	overflow: auto;
	padding: 16px; /* Contain overflow in all browsers. */

	code.bash,
	& > code {
		background: transparent;
		border: 0;
		display: block;
		margin: 0;
		padding: 0;
	}

	code code.bash {
		font-size: inherit;
	}
}

code {
	font-size: 80%;
	margin: 0 3px;
	padding: 2px 6px;

	//white-space: nowrap;
	background: $color__background-pre;
	border-radius: $border-radius;
	border: 1px solid $color__border-light;
}

/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
	font-family: $font__code;
}

q,
blockquote {
	border-left: 4px solid $light-gray;
	color: $color__blockquote;
	font-style: italic;
	margin: 0 0 $font__base-line-height $font__base-line-height;
	padding-left: 16px;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	box-sizing: content-box;

	/* Address differences between Firefox and other browsers. Source- normalize.css */
	height: 1px;
}
