// Support Gutenberg blocks style
$is-gutenberg: false !default;

// Default Border Radius
$border-radius: 3px !default;

// Project specific breakpoints.
$g-breakpoint-mobile        : 568px;
$g-breakpoint-small-tablet  : 667px;
$g-breakpoint-tablet        : 768px;
$g-breakpoint-desktop       : 1024px;
$g-breakpoint-large-desktop : 1280px;

// Foundation Grid
$breakpoints: (
	small  : 0,
	medium : $g-breakpoint-tablet,
	large  : $g-breakpoint-desktop,
	xlarge : $g-breakpoint-large-desktop
);

$grid-column-gutter: (
	small  : 30px,
	medium : 30px,
	large  : 30px,
	xlarge : 30px
);

// Foundation grid classes
$breakpoint-classes: small medium large xlarge;

/// Global width of your site. Used by the grid to determine row width.
/// @type Number
$grid-row-width: 1470px;

/// The default column count of a grid. Changing this value affects the logic of the grid mixins, and the number of CSS classes output.
/// @type Number
$grid-column-count: 12;

// Global spacing between columns.
$grid-column-align-edge: true;
$grid-column-alias: "columns";

// Block grid max number
$block-grid-max: 8;
