/// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/// Clearfix
@mixin clearfix {
	content: "";
	display: table;
}

/// Clear after (not all clearfix need this also)
@mixin clearfix-after {
	clear: both;
}
