
// Global theme font
$font__main: 'Open Sans', sans-serif;

// Global code font
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Enable font smoothing for site wide fonts
$font-smoothing: true;

// Defines the base font size of the page, which is the value `1rem` is equal to.
$font__rem-base: 16px !default;

// Global Base Font size. Assigned to `<body>` tag
$font__base-font-size: 16px !default;

// Global Base Line Height
$font__base-line-height: 30px !default;

// Heading 1 font size
$font__size-h1: 26px;

// Heading 2 font size
$font__size-h2: 22px;

// Heading 3 font size
$font__size-h3: 18px;

// Heading 4 font size
$font__size-h4: 16px;

// Heading 5 font size
$font__size-h5: 12px;

// Heading 6 font size
$font__size-h6: 10px;
