// Essentials.
@import "essentials";

// Import Zurb Foundation Grid
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-xy-grid-classes(
	$base-grid: true,
	$margin-grid: true,
	$padding-grid: fasle,
	$block-grid: false,
	$collapse: false,
	$offset: false,
	$vertical-grid: false,
	$frame-grid: false
);

// Generic
@import "2-generic/generic";

// Utils
@import "3-utilities/utilies";

// Layouts
@import "4-layouts/site_layout";
@import "4-layouts/header";
@import "4-layouts/footer";
@import "4-layouts/posts-and-pages";

// Components
@import "5-components/menus";
@import "5-components/comments";
@import "5-components/widgets";
