/*==============================
          Main Menu
===============================*/

.blank-theme-main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: rem-calc(35);
			left: -999em;
			z-index: 99999;
			background: $white;

			// display: none;

			ul {
				left: -999px;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			&:hover > a,
			&.focus > a {
				color: $color__link-hover;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__link-hover;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: rem-calc(10);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__link-hover;
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5rem;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
