.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

.animated-menu {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

@keyframes fade-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-in {
	animation-name: fade-in;
}
