.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

.animated-menu {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

@keyframes fade-in-left {

	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in-left {
	animation-name: fade-in-left;
}

@keyframes fade-in-up {

	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-up {
	animation-name: fade-in-up;
}

@keyframes fade-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-in {
	animation-name: fade-in;
}

@keyframes blank-theme-loader {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
