
.sg-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px 500px;
	outline-width: 0;
}

.sg-site-title {
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

section {
	margin-bottom: 50px;
}

.sg-section-title {
	padding: 10px;
	background: grey;
	color: white;
	font-weight: normal;
	font-size: 18px;
}

.sg-nav {
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
}

.sg-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sg-nav a {
	padding: 10px;
	display: inline-block;
}

