.sg-site-title {
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

section {
	margin-bottom: 50px;
}

.sg-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px 500px;
	outline-width: 0;
}

.sg-section-title {
	padding: 10px;
	background: #808080;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
}
