
/*-----------
	Colors
-------------*/

// Black and white.
$black: #000000;
$white: #ffffff;

// Gray
$gray-200: #cccccc;
$gray-100: #eff3f6;

// Dark Gray
$dark-gray-200: #333;
$dark-gray-100: #424242;

// Red
$red-100: #d32f2f;

// Blue
$blue-100: #0336ff;
