
/*----------------
		Font
------------------*/

// Global theme font.
$font__main: "Open Sans", sans-serif;

// Global code font
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Fallback font when font is not loaded via WebFonts JS.
$font__fallback: sans-serif;

// Base line height.
$font__base-line-height: 30px;

/*---------------------------------
		Body Text Font Sizes
-----------------------------------*/

$body-text: (
	"h1": (
		"medium": (
			font-size: 26px,
			line-height: 1,
		),
		"small": (
			font-size: 24px,
			line-height: 1,
		),
	),
	"h2": (
		"medium": (
			font-size: 22px,
			line-height: 1.25,
		),
		"small": (
			font-size: 20px,
			line-height: 1.3,
		),
	),
	"h3": (
		"medium": (
			font-size: 18px,
			line-height: 1.5,
		),
		"small": (
			font-size: 16px,
			line-height: 1.62,
		),
	),
	"h4": (
		"medium": (
			font-size: 16px,
			line-height: 1.5,
		),
		"small": (
			font-size: 14px,
			line-height: 1.62,
		),
	),
	"h5": (
		"medium": (
			font-size: 12px,
			line-height: 1.5,
		),
		"small": (
			font-size: 10px,
			line-height: 1.62,
		),
	),
	"h6": (
		"medium": (
			font-size: 10px,
			line-height: 1.5,
		),
		"small": (
			font-size: 10px,
			line-height: 1.62,
		),
	),
	"body": (
		"medium": (
			font-size: 16px,
			line-height: 1.5,
		),
		"small": (
			font-size: 14px,
			line-height: 1.5,
		),
	),
);
