.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: rem-calc(35);
			left: -999em;
			z-index: 99999;
			background: #fff;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: rem-calc(10);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

#primary-nav-button{
	display: inline-block;
}

/**Sidr**/

.sidr{
	width: 280px;
	ul{
		ul{
			display: none;
		}
	}
	.sidr-class-menu-item-has-children{
		> a{
			overflow: hidden;
			padding-right: 0;
		}
		.plus-oc{
			margin-left: 5px;
			width: 40px;
			display: inline-block;
			background-color: #626262;
			text-align: center;
			position: relative;
			z-index: 2;
			float: right;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}